<div class="alert alert-block alert-info">
    <h1>List of Queries</h1>
    <p>These queries are the solution to the corresponding SQL questions asked about the Olympics dataset from Kaggle.</p>
</div>

### Connect to SQLite Db

In [ ]:
%load_ext sql

In [ ]:
import csv, sqlite3

In [ ]:
con = sqlite3.connect("athletes.db")
cur = con.cursor()

In [ ]:
%sql sqlite:///athletes.db

### Commence querying

Explore column names of `athletes` table.

In [ ]:
%%sql

PRAGMA table_info(athletes);

Return first few rows

In [ ]:
%%sql

SELECT * FROM athletes LIMIT 3;

1. How many olympics games have been held?

In [ ]:
%%sql

SELECT COUNT(Games) AS Num_of_games
FROM athletes;

2. List down all Olympics games held so far.

In [ ]:
%%sql

SELECT DISTINCT Games
FROM athletes;

3. Mention the total no of nations who participated in each olympics game?

In [ ]:
%%sql

SELECT Games, COUNT(DISTINCT Team) AS Number_of_Nations
FROM athletes
GROUP BY Games;

4. Which year saw the highest and lowest no of countries participating in olympics?

In [ ]:
%%sql

SELECT Year, MIN(Number_of_nations)
FROM
    (SELECT Year, COUNT(DISTINCT Team) AS Number_of_nations
    FROM athletes
    GROUP BY Year);

In [ ]:
%%sql

SELECT Year, MAX(Number_of_nations)
FROM
    (SELECT Year, COUNT(DISTINCT Team) AS Number_of_nations
    FROM athletes
    GROUP BY Year);

5. Fetch the total no of sports played in each olympic games.

In [ ]:
%%sql

SELECT Games, COUNT(Sport) AS Total_sport_played
FROM athletes
GROUP BY Games;

6. Fetch details of the oldest athletes to win a gold medal.

In [ ]:
%%sql

SELECT *
FROM athletes
WHERE Age = (SELECT MAX(Age)
            FROM athletes);

7. Find the Ratio of male and female athletes participated in all olympic games.

In [ ]:
%%sql

SELECT Sex, COUNT(*) AS Count_of_athletes
FROM athletes
GROUP BY Sex;

8. How many Gold medals were won during Summer and Winter seasons?

In [ ]:
%%sql

SELECT Season, COUNT(*) AS Gold_medals
FROM athletes
WHERE Medal = 'Gold'
GROUP BY Season;

9. What is the age of the heaviest athlete?

In [ ]:
%%sql

SELECT *
FROM athletes
WHERE Weight = (SELECT MAX(Weight)
                     FROM athletes);

10. What team won the most Gold medals?

In [ ]:
%%sql

SELECT Team, COUNT(*) AS Gold_medals
FROM athletes
WHERE Medal = 'Gold'
GROUP BY Team
ORDER BY Gold_medals DESC
LIMIT 1;